html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: DejaVu Sans Mono, monospace;
}

p {
  font-size: 1.1rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: rgba(31, 41, 55);
  border: 1px black;
}

::-webkit-scrollbar-thumb {
  background: #6b00a8;
  border-radius: 1em;
  box-shadow: inset 0 0 0.5em 0 #e1adff, 0 0 0.5em 0 #e1adff;
}

::-webkit-scrollbar-thumb:hover {
  background: #e1adff;
  box-shadow: 0 0 0.4em #b026ff, 0 0 0.6em #e1adff, 0 0 0.8em white;
}
